<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Homepage Page</title>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

        <style>
            body {
                width: 100vw;
                overflow: hidden;
            }


            li {
                list-style-type: none;
            }

            .main{
                display: flex;
            }

            .friendsList{
                margin-right: 1em;
                width: 15em;
                height: 100vh;
                background-color: #343a40;
            }

            ul{
                padding-left: 0;
            }

            .friendsList  li {
                color: #343a40;
                font-weight: bold;
                background-color: white;
                padding: 1em;      
                border-bottom: solid 1px #343a40;
                border-right: solid 1px #343a40;  
                cursor: pointer;   
                overflow-y: auto;  
            }

            .no-friends{
                width: 15em;
                height: 100vh;
                background-color: #343a40;
                color: white;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .row .col{
                height: 2.5em;
                position: absolute;
                bottom: 0;
            }

            .row .col input{
                width: 75vw;
            }

            h1{
                display: none;
            }

        </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <!-- <div class="messages"></div> -->
        <section class="main">
            <% if (locals.friendsList) { %>
                <div class="friendsList">
                    <ul>
                        <% friendsList.forEach(friend => { %>
                            <% if(friend.is_online == '1') { %>
                            <li><%= friend.username %> <span>🟢</span></li>
                            <% } else {%>
                                <li><%= friend.username %></li>

                            <% }%>
                        <% }) %>
                    </ul>
                </div>
            <%} else { %>
                <p class="no-friends">No Friends!</p>
            <% } %>

            <h1 class="user-id"><%= user.id %></h1>


            <div class="row">
                <div class="col d-flex">
                    
                    <input type="text" class="form-control" placeholder="Send message" aria-label="First name">
                    <button class="btn btn-dark" type="submit">Send</button>
                </div>
            </div>
        </section>        

        <%- include('./partials/script.ejs') %>
            <script>
                
                let btn = document.querySelector('.btn');
                let inp = document.querySelector('.form-control');
                let messages = document.querySelector('.messages');
                const userId = document.querySelector('.user-id').textContent;
                
                let socket = io({
                    auth: {
                        token: userId
                    }
                });

                socket.emit('user_connected', userId);

                btn.addEventListener('click', function () {
                    socket.emit('chat message', inp.value);
                    inp.value = '';
                })

                socket.on('msg', (msg) => {
                    let item = document.createElement('li');
                    item.textContent = msg;
                    messages.appendChild(item);
                })                

                socket.on('disconnected', (sock) => {
                    //socket.emit('user_disconnected', userId);
                })

            </script>
</body>

</html>