<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>User Page</title>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

        <style>
            body {
                width: 100vw;
            }

            .row {
                position: absolute;
                bottom: 0;
                width: 100vw;
            }

            li {
                list-style-type: none;
            }

            img {
                width: 9em;
                border-radius: 127px;
                height: 9em;
                object-fit: cover;
                margin-bottom: 0.5em;
            }

            .user-info {
                text-align: center;
                margin-top: 10em;
            }

            .userid{
                display: none;
            }
        </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <div class="user-info">
            <div class="profile-picture">
                <img src="<%= user.profileImage %>" alt="User Profile Picture">
            </div>
            <div class="user-details">
                <p class="username"><%= user.username %></p>

                <p class="userid"><%= user._id %></p>

                <% if(locals.sameuser) { %>
                        <div class="options">
                            <button class="btn btn-danger reject-button delete">Delete Account</button>
                        </div>

                <% } else if(locals.reqRec) { %>
                    <div class="options">
                        <p>They have sent you chat request!</p>
                        <button class="btn btn-success accept-button">Accept</button>
                        <button class="btn btn-danger reject-button">Reject</button>
                    </div>
                <% } else if(locals.reqSent) { %>
                    <form action="/user/remove-request/<%=user._id%>" method="post">
                        <div class="options">
                            <p>You have sent them chat request!</p>
                            <button type="submit" class="btn btn-danger reject-button">
                                Remove Request
                            </button>
                        </div>
                    </form>
                <% }else if(locals.friends) { %>
                        <div class="options">
                            <p>You both are friends!</p>
                            <button class="btn btn-success reject-button">
                                Chat
                            </button>
                        </div>
                        <% }else { %>

                            <form action="/user/add-friend/<%=user._id%>" method="post">
                            <div class="options">
                                <p>You both are not friends</p>
                                <button type="submit" class="btn btn-success reject-button">
                                    Add Friend
                                </button>
                            </div>
                        </form>
                    <% } %> 
            </div>
        </div>


        <%- include('./partials/script.ejs') %>
            <script>
                let socket = io();
                let btn = document.querySelector('.btn');
                let inp = document.querySelector('.form-control');
                let messages = document.querySelector('.messages');
                let deleteButton = document.querySelector('.delete');
                let userId = document.querySelector('.userid');

                //Delete account
                deleteButton.addEventListener('click', function () {
                    console.log('entered' + userId.textContent);
                    
                    removeRequest(userId.textContent);
                })

                btn.addEventListener('click', function () {
                    socket.emit('chat message', inp.value);
                    inp.value = '';
                })

                socket.on('msg', (msg) => {
                    let item = document.createElement('li');
                    item.textContent = msg;
                    messages.appendChild(item);
                })

                socket.on('disconnected', (sock) => {
                    console.log('offline');
                })

                //delete account api call
                async function removeRequest(targetId){

                    try{
                    console.log('entered');
                    console.log(`target id ${targetId}`);
                    

                    const resp = await fetch(`http://localhost:8000/user/remove-account/${targetId}`, {
                        method: 'DELETE',
                    });

                } catch(err){
                    console.log(err.message);
                    
                }
                }
                
            </script>
</body>

</html>