<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>User Page</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <style>
        body{
            width: 100vw;
        }

        .row{
            position: absolute;
            bottom: 0;
            width: 100vw;
        }

        li{
            list-style-type: none;
        }
    </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="user-info">
        <div class="profile-picture">
            <img src="<%= user.profileImage %>" alt="User Profile Picture">
        </div>
        <div class="user-details">
            <p class="username"><%= user.username %></p>
            <div class="options">
                <button class="accept-button">Accept</button>
                <button class="reject-button">Reject</button>
            </div>
        </div>
    </div>


    <%- include('./partials/script.ejs') %>
        <script>
            let socket = io();
            let btn = document.querySelector('.btn');
            let inp = document.querySelector('.form-control');
            let messages = document.querySelector('.messages');

            btn.addEventListener('click', function () {
                socket.emit('chat message', inp.value);
                inp.value = '';
            })

            socket.on('msg', (msg) => {
                let item = document.createElement('li');
                item.textContent = msg;
                messages.appendChild(item);
            })

            socket.on('disconnected', (sock) => {
                console.log('offline');                
            })
        </script>
</body>

</html>