<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>User Page</title>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

        <style>
            body {
                width: 100vw;
            }

            .row {
                position: absolute;
                bottom: 0;
                width: 100vw;
            }

            li {
                list-style-type: none;
            }

            img {
                width: 9em;
                border-radius: 127px;
                height: 9em;
                object-fit: cover;
                margin-bottom: 0.5em;
            }

            .user-info {
                text-align: center;
                margin-top: 10em;
            }

            .userid {
                display: none;
            }
        </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <div class="user-info">
            <div class="profile-picture">
                <img src="<%= searchedUser.profileImage %>" alt="User Profile Picture">
            </div>
            <div class="user-details">
                <p class="username">
                    <%= searchedUser.username %>
                </p>

                <p class="userid">
                    <%= searchedUser._id %>
                </p>

                <% if(locals.sameuser) { %>
                    <div class="options">
                        <button class="btn btn-danger reject-button delete">Delete Account</button>
                    </div>

                    <% } else if(locals.reqRec) { %>
                        <div class="options">
                            <p>They have sent you chat request!</p>
                            <button class="btn btn-success accept-button">Accept</button>
                            <button class="btn btn-danger reject-button">Reject</button>
                        </div>
                        <% } else if(locals.reqSent) { %>
                            <form action="/user/remove-request/<%=searchedUser._id%>" method="post">
                                <div class="options">
                                    <p>You have sent them chat request!</p>
                                    <button type="submit" class="btn btn-danger reject-button">
                                        Remove Request
                                    </button>
                                </div>
                            </form>
                            <% }else if(locals.friends) { %>
                                <div class="options">
                                    <p>You both are friends!</p>
                                    <button class="btn btn-success chat-button">
                                        Chat
                                    </button>
                                    <button class="btn btn-danger remove-friend">
                                        Remove Friend
                                    </button>
                                </div>
                                <% }else { %>

                                    <form action="/user/add-friend/<%=searchedUser._id%>" method="post">
                                        <div class="options">
                                            <p>You both are not friends</p>
                                            <button type="submit" class="btn btn-success reject-button">
                                                Add Friend
                                            </button>
                                        </div>
                                    </form>
                                    <% } %>
            </div>
        </div>


        <%- include('./partials/script.ejs') %>
            <script>
                let socket = io();
                let btn = document.querySelector('.btn');
                let inp = document.querySelector('.form-control');
                let messages = document.querySelector('.messages');
                let deleteButton = document.querySelector('.delete');
                let userId = document.querySelector('.userid').textContent.trim();
                let acceptButton = document.querySelector('.accept-button');
                let rejectButton = document.querySelector('.reject-button');
                let removeFriendButton = document.querySelector('.remove-friend');




                //Delete account
                if (deleteButton) {
                    deleteButton.addEventListener('click', function () {
                        console.log('entered' + userId);

                        removeRequest(userId);
                    })
                }

                //Accept friend request
                if (acceptButton) {
                    acceptButton.addEventListener('click', function () {
                        acceptFriendRequest(userId);
                    })
                }

                //Reject friend request
                if (rejectButton) {
                    rejectButton.addEventListener('click', function () {
                        rejectFriendRequest(userId);
                    })
                }

                //remove friend
                if (removeFriendButton) {
                    removeFriendButton.addEventListener('click', function () {
                        removeFriend(userId);
                    })
                }

                btn.addEventListener('click', function () {
                    socket.emit('chat message', inp.value);
                    inp.value = '';
                })

                socket.on('msg', (msg) => {
                    let item = document.createElement('li');
                    item.textContent = msg;
                    messages.appendChild(item);
                })

                socket.on('disconnected', (sock) => {
                    console.log('offline');
                })

                //delete account api call
                async function removeRequest(targetId) {

                    try {
                        console.log('entered');
                        console.log(`target id ${targetId}`);


                        fetch(`http://localhost:8000/user/remove-account/${targetId}`, {
                            method: 'DELETE',
                        }).then(resp => {

                            if (resp.ok) {
                                fetch(`http://localhost:8000/`, {
                                    method: 'GET'
                                });
                            } else {
                                fetch(`http://localhost:8000/`, {
                                    method: 'GET'
                                });
                            }
                        });
                    } catch (err) {
                        console.log(err.message);

                    }
                }

                async function acceptFriendRequest(targetId) {
                    try {
                        fetch(`http://localhost:8000/user/accept-request/${targetId}`, {
                            method: 'POST',
                        });

                        location.reload();
                    } catch (err) {

                        alert(err.message);
                    }
                }

                async function rejectFriendRequest(targetId) {
                    try {
                        fetch(`http://localhost:8000/user/reject-request/${targetId}`, {
                            method: 'POST',
                        });

                        location.reload();
                    } catch (err) {

                        alert(err.message);
                    }
                }

                async function removeFriend(targetId){
                    try {
                        fetch(`http://localhost:8000/user/remove-friend/${targetId}`, {
                            method: 'POST',
                        });

                        location.reload();
                    } catch (err) {

                        alert(err.message);
                    }
                }

            </script>
</body>

</html>